@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/bootstrap-datepicker/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    </environment>
    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    </environment>*@
    <style>
        .row {
            margin-top: 5%;
        }

        .menu {
            padding: 15px;
            color: white;
            float: right;
        }

        .right {
            position: relative;
            float: right;
        }

        .font {
            color: white !important;
        }

        .nav .open > a, .nav .open > a:focus {
            background-color: lightskyblue !important;
        }

        .nav a:hover {
            background-color: black !important;
            color: white !important;
        }

        .message {
            color: red;
        }
    </style>
</head>

<body>
    <script type="text/javascript">
        function goShopCar() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProducts", "Shop")',
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                    shopcars:JSON.parse(window.localStorage.getItem('shopcar')),
                },
                async: true,
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                        $("#totalAmount").val(data.totalAmount);
                        $("#discount").val(data.discount);
                        $("#disAmount").val(data.disAmount);
                        $("#ShopCarForm").submit();
                    }
                },
                error: function (error) {
                    if (error != null && error.responseText != '') {
                        $('#msgModalbody').text(error.responseText).css({ 'color': 'red'});
                        $('#msgModal').modal('show');
                        $("#account").val('');
                        $("#password").val('');
                    }
                }
            });
        }

        $(function () {
            var Id = '@ViewBag.Id';

            if (Id.length > 0) {
                if (window.localStorage.getItem('menu') == null ) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("Index", "Menu")',
                        data: {
                            Id: Id
                        },
                        success: function (data) {
                            if (data != null) {
                                $("#menu").after(data);
                                window.localStorage.setItem("menu", data)
                            }
                        },
                        error: function (error) {
                        }
                    });
                }
                else
                    $("#menu").after(window.localStorage.getItem('menu'));
            }
        });
    </script>
    <nav class="navbar navbar-fixed-top bg-primary">
        <div class="container-fluid">
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" style="color: white !important;" asp-controller="Home" asp-action="Index" class="navbar-brand">Northwind</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav col-md-8">
                    <li>
                        <a class="font" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @{
                        if (ViewBag.Name == null)
                        {
                            <li>
                                <a class="font" asp-area="" asp-controller="LogIn" asp-action="Index">LogIn</a>
                            </li>
                        }
                    }
                    <div id="menu"></div>
                </ul>
                <ul class="nav navbar-nav right">
                    @{
                        if (ViewBag.Name != null)
                        {
                            <li><a class="font" asp-route-id="@ViewBag.Id" asp-controller="LogIn" asp-action="Out">LogOut</a></li>
                        }
                    }
                    <li><label class="menu">@ViewBag.Name</label></li>
                </ul>
            </div>
            <div>
                @{
                    using (Html.BeginForm("ShopCar", "Shop", FormMethod.Post, new { id = "ShopCarForm", @style = "display:none;" }))
                    {
                        <input type="hidden" id="totalAmount" name="totalAmount" value="">
                        <input type="hidden" id="discount" name="discount" value="">
                        <input type="hidden" id="disAmount" name="disAmount" value="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    }
                }
            </div>
            @*@await Component.InvokeAsync("MenuC", new { Id = ViewBag.Id != null ? ViewBag.Id : "" })*@

            @*@{
                    Html.RenderPartial("../Shared/PartViewMenu");
                }*@
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
