@model DAL.PageModel.MenuModel
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav " >
        <li >
            <a class="font" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @{
            if (ViewData["Account"] == null)
            {
                <li>
                    <a class="font" asp-area="" asp-controller="Home" asp-action="LogIn">LogIn</a>
                </li>
            }
        }
        @if (Model != null)
        {
            foreach (var menu in Model.Menus)
            {
            <li class="dropdown">
                <a class="font dropdown-toggle" data-toggle="dropdown" asp-area="">@menu.MenuName</a>
                @{
                    if (menu.SubMenus.Count > 0)
                    {
                        <ul class="dropdown-menu" >
                            @{
                                foreach (var menuSub in menu.SubMenus)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="@menuSub.MenuCode" asp-action="Index">@menuSub.MenuName</a>
                                    </li>
                                }
                            }
                        </ul>
                    }
                }
            </li>
            }
        }
    </ul>
    <ul class="nav navbar-nav right">
        @{
            if (ViewData["Account"] != null)
            {
                <li><a asp-route-id="@ViewData["Id"]" asp-route-account="@ViewData["Account"]" asp-controller="LogIn" asp-action="Out">LogOut</a></li>
            }
        }
        <li><label class="menu">@ViewData["Account"]</label></li>
    </ul>
</div>