@model List<DAL.DTOModel.MenuDTO>
@using Microsoft.AspNetCore.Html;
@using System.Collections.Generic;

@functions{
    private string GetSubMenus(List<DAL.DTOModel.MenuDTO> subMenus, string controller)
    {
        if (subMenus.Count > 0)
        {
            string htmlStatement = "<ul class='dropdown-menu'>";
            foreach (var menuSub in subMenus)
            {
                htmlStatement += $"<li><a class='dropdown-item' href='{@Url.Action(menuSub.MenuCode,controller,new { Id = ViewBag.Id})}'>{menuSub.MenuName}</a></li>";
                htmlStatement += GetSubMenus(menuSub.SubMenus, menuSub.MenuCode);
            }
            htmlStatement += "</ul>";
            return htmlStatement;
        }
        return string.Empty;
    }
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav ">
        <li>
            <a class="font" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        @{
            if (ViewBag.Account == null)
            {
                <li>
                    <a class="font" asp-area="" asp-controller="LogIn" asp-action="Index">LogIn</a>
                </li>
            }
        }
        @if (Model != null)
        {
            foreach (var menu in Model)
            {
                <li class="dropdown">
                    <a class="font dropdown-toggle" data-toggle="dropdown" asp-area="">@menu.MenuName</a>
                    @Html.Raw(GetSubMenus(menu.SubMenus, menu.MenuCode))
                </li>
            }
        }
    </ul>
    <ul class="nav navbar-nav right">
        @{
            if (ViewBag.Account != null)
            {
                <li><a class="font" asp-route-id="@ViewBag.Id" asp-route-account="@ViewBag.Account" asp-controller="LogIn" asp-action="Out">LogOut</a></li>
            }
        }
        <li><label class="menu">@ViewBag.Account</label></li>
    </ul>
</div>

<script type="text/javascript">
</script>