@model BLL.PageModel.ProductModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style type="text/css">
    .row {
        width: 800px !important;
        margin-top: 10%;
        margin-left: 20%;
    }

    .query {
        display: flex;
    }

    .div {
        margin-left: 20px;
    }

    .querybutton {
        margin-left: 20%;
    }

    .label {
        margin-right: 10px;
    }

    .style {
        margin-left: -5%;
        background-color: turquoise;
        height: 200px;
    }

    .carousel-indicators {
        bottom: -10px !important;
    }

    .bt {
        margin-left: -5%;
        margin-top: 10px;
        width:110%
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            @{
                if (!Model.IsSuccess)
                {
                    <script type="text/javascript">
                            $('#msgModalbody').text('@Model.ErrorMsg').css({ 'color': 'blue'});;
                            $('#msgModal').modal('show');
                    </script>
                }

                using (Html.BeginForm("Product", "Shop", FormMethod.Get, new { id = "ShopForm", ProductName = @Model.ProductName, CategoryId = @Model.CategoryId }))
                {
                    <div class="form-group query">
                        <div class="div query">
                            @Html.Label("name", "產品類別", new { style = "white-space:nowrap" })
                            @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "請選擇產品類別", new { @class = "form-control" })
                        </div>
                        <div class="div query">
                            @Html.Label("name", "產品名稱", new { style = "white-space:nowrap" })
                            @Html.TextBoxFor(m => m.ProductName, "請輸入產品名稱", new { @class = "form-control" })
                        </div>
                        <div class="querybutton">
                            <input type="submit" class="btn btn-primary btn-block" id="query" value="查詢" />
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
                using (Html.BeginForm("Shopping", "Shop", FormMethod.Post, new { id = "ShoppingForm" }))
                {
                    var Categorys = Model.CategoryId != null
                                    ? new List<SelectListItem>() { Model.Categories.Where(o => o.Value == Model.CategoryId).FirstOrDefault() }
                                    : Model.Categories;
                    for (int i = 0; i < Categorys.Count(); i++)
                    {
                        var CategoryName = Categorys.Skip(i).First().Text;
                        var Products = Model.Products.Where(o => o.CategoryID.Value.ToString() == Categorys.Skip(i).First().Value).ToList();

                        <div id="@CategoryName" class="carousel slide style" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @for (int j = 0; j < Products.Count(); j++)
                                {
                                    <li data-target="#@CategoryName" data-slide-to="@j" class="active"></li>
                                }
                            </ol>

                            <div class="carousel-inner">
                                @for (int j = 0; j < Products.Count(); j++)
                                {
                                    var Product = Products[j];
                                    <div class="@(j == 0 ? "item active" : "item")" style="width:100%;">
                                        <form>
                                            <div class="form-group">
                                                <label for="productname" class="col-sm-2 col-form-label">產品名稱</label>
                                                <div class="col-sm-10">
                                                    <label for="productName">@Product.ProductName</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="categoryname" class="col-sm-2 col-form-label">產品類別</label>
                                                <div class="col-sm-10">
                                                    <label for="categoryName">@CategoryName</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="unitprice" class="col-sm-2 col-form-label">產品價格</label>
                                                <div class="col-sm-10">
                                                    <label for="unitPrice">@Product.UnitPrice.Value</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="buycount" class="col-sm-2 col-form-label">購買數量</label>
                                                <div class="col-sm-10 ">
                                                    @Html.DropDownList($"shopcount_{@Product.ProductID}", Product.QuantityOptions, "請選擇數量", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-5 ">
                                                </div>
                                                <div class="col-sm-2 ">
                                                    <input type="submit" class="btn btn-primary btn-block" id="car" value="購物"
                                                           onclick="setShopCar(@Product.ProductID); return false;" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                            </div>

                            <a class="left carousel-control" href="#@CategoryName" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#@CategoryName" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    }
                    <div>
                        <input type="submit" class="btn btn-success btn-block bt" id="car" value="購物車"
                               onclick="goShopCar(); return false;" style="width:105%" />
                    </div>
                }
                using (Html.BeginForm("ShopCar", "Shop", FormMethod.Post, new { id = "ShopCarForm" })) //,@style="display:none;"
                {
                    <div >
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            }
        </div>
    </div>
    @Html.Partial("BootstrapModal")
</div>
<script type="text/javascript">

    function closeModal() {
        $('#msgModal').modal('hide');
    }

    function setShopCar(productId) {
        var shopCar = window.localStorage.getItem('shopcar');
        var data = [{ Id: productId, Count: parseInt($('select[name=shopcount_' + productId + ']').val(), 10) }];

        if (shopCar == null) {
            window.localStorage.setItem("shopcar", JSON.stringify(data));
        }
        else {
            var car = JSON.parse(shopCar);
            car.push({ Id: productId, Count: parseInt($('select[name=shopcount_' + productId + ']').val(), 10) });
            window.localStorage.setItem("shopcar", JSON.stringify(car));
        }
        return false;
    }

    function goShopCar() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProducts", "Shop")',
            data: {
                __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                shopcars:JSON.parse(window.localStorage.getItem('shopcar')),
            },
            async: true,
            success: function (data) {
                if (data != null) {

                    console.log(data);

                    $("#ShopCarForm").submit(function () {
                        $.each(params, function(i,param){
                            $('<input />').attr('type', 'hidden')
                                .attr('name', 'shopcars')
                                .attr('value', data)
                                .appendTo('#ShopCarForm');
                        });
                        return true;
                    });

                    @*console.log(data);
                    window.location.href = '@Url.Action("ShopCar", "Shop")?shopcars = ' + data;*@
                }
            },
            error: function (error) {
                if (error != null && error.responseText != '') {
                    $('#msgModalbody').text(error.responseText).css({ 'color': 'red'});
                    $('#msgModal').modal('show');
                    $("#account").val('');
                    $("#password").val('');
                }
            }
        });
    }

    $(function () {
        var products = JSON.parse(window.localStorage.getItem('shopcar'));
        if (products != null) {
            products.forEach(function (element) {
                $('select[name=shopcount_' + element.Id + ']').children().each(function () {

                    if ($(this).text() == element.Count){
                        $(this).attr("selected", true);
                    }
                });
            });
        }
    })

</script>

