@model BLL.PageModel.ShopCarModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style type="text/css">
    .products {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
</style>
<div class="container-md">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @{
                if (!Model.IsSuccess)
                {
                    <script type="text/javascript">
                            $('#msgModalbody').text('@Model.ErrorMsg').css({ 'color': 'blue'});;
                            $('#msgModal').modal('show');
                    </script>
                }
                using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "OrderForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="products">
                        @{
                            for (int i = 0; i < Model.products.Count(); i++)
                            {
                                @Html.Partial("ProductOfShopCar", Model.products[i]);
                            }
                        }
                    </div>
                }
            }
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                <label for="Items" class="col-md-1 col-form-label">產品品項</label>
                <div class="col-md-11">
                    @Html.Label("Count", Model.products.Count().ToString(), new { style = "white-space:nowrap" })
                </div>
            </div>
            <div>
                <label for="Items" class="col-md-1 col-form-label">總金額</label>
                <div class="col-md-11">
                    @Html.Label("totalAmount", Model.totalAmount.ToString(), new { style = "white-space:nowrap" })
                </div>
            </div>
            <div>
                <label for="Items" class="col-md-1 col-form-label">折扣</label>
                <div class="col-md-11">
                    @Html.Label("discount", $"{Model.discount * 10}", new { style = "white-space:nowrap" })
                </div>
            </div>
            <div>
                <label for="Items" class="col-md-1 col-form-label">付款金額</label>
                <div class="col-md-11">
                    @Html.Label("disAmount", Model.disAmount.ToString("C"), new { style = "white-space:nowrap" })
                </div>
            </div>
            <div>
                <input type="button" class="btn btn-success btn-block bt" id="submit" value="確定訂單"
                       onclick="goOrder(); return false;" />
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    @Html.Partial("BootstrapModal")
</div>
<script type="text/javascript">
    function goOrder() {

        var products = JSON.parse(window.localStorage.getItem('shopcar'))

        if (products == null || products.length == 0)
            window.location.href = '@Url.Action("Product", "Shop")';
        else
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetOrder", "Order")',
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                    shopcars: JSON.parse(window.localStorage.getItem('shopcar')),
                },
                async: true,
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                        window.location.href = data;
                    }
                },
                error: function (error) {
                    if (error != null && error.responseText != '') {
                        $('#msgModalbody').text(error.responseText).css({ 'color': 'red' });
                        $('#msgModal').modal('show');
                        $("#account").val('');
                        $("#password").val('');
                    }
                }
            });
    }

    $(function () {
        var products = JSON.parse(window.localStorage.getItem('shopcar'));
        if (products != null) {
            if (products.length == 0) {
                $("#Items").val('產品品項:0');
                $("#TotalAmount").val('總金額:0');
                $("#Discount").val('折扣:0');
                $("#submit").disabled = true;
            }
            else
                $("#submit").disabled = false;
        }
    })
</script>
