@model DAL.DTOModel.LogInDTO
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<script src="~/lib/crypto-js/crypto-js.js"></script>
<script src="~/lib/crypto-js/aes.js"></script>
<script src="~/lib/crypto-js/hmac-sha512.js"></script>
<script src="~/lib/crypto-js/sha512.js"></script>
<style type="text/css">
    .container {
        width: 400px !important;
    }

    .row {
        margin-top: 50%;
    }

    .ui-button{
        margin-top:10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            @using (Html.BeginForm("In", "LogIn", FormMethod.Post, new { id = "LogInForm" }))
            {
                @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.account)
                @Html.TextBoxFor(m => m.account, "請輸入帳號!", new { @class = "form-control" })
                <span asp-validation-for='account' class="message"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password)
                @Html.TextBoxFor(m => m.password, "請輸入密碼!", new { @class = "form-control", @type = "password" })
                <button class="ui-button ui-widget ui-corner-all" type="button"><span id="pw" class="ui-icon ui-icon-locked"></span></button>
                <span asp-validation-for='password' class="message"></span>
            </div>
            <input type="button" class="btn btn-primary btn-block" id="submit" value="Login" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            }
        </div>
        <div class="col-4"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="msgModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="msgModalbody"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="closeModal();">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //關閉Alert
    function closeModal() {
        $('#msgModal').modal('hide');
    }

    //檢查輸入選項
    function checkInput() {
        $('#msgModalTitle').text("通知").css({ 'color': 'blue', 'font-size' : '110%'});

        if ($("#account").val() == '') {
            $('#msgModalbody').text("請輸入帳號!").css({ 'color': 'red', 'font-size' : '150%'});
            $('#msgModal').modal('show');
            return false;
        }

        if ($("#password").val() == '') {
            $('#msgModalbody').text("請輸入密碼!").css({ 'color': 'red', 'font-size' : '150%'});
            $('#msgModal').modal('show');
            return false;
        }
        return true;
    }

    $(function () {
        window.localStorage.clear();

        $("button").button().click(function () {
            //當密碼為未鎖，則隱藏密碼，否則顯示密碼
            if ($("#pw").attr('class') == 'ui-icon ui-icon-unlocked') {
                $("#password").attr("type", "password");
                $("#pw").attr("class", "ui-icon ui-icon-locked");
            }
            else {
                $("#password").attr("type", "text");
                $("#pw").attr("class", "ui-icon ui-icon-unlocked");
            }
        });

        $("#submit").click(function () {
            //當檢查輸入錯誤，則顯示訊息
            //if (!checkInput()) return;

            if ($("#LogInForm").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("In", "LogIn")',
                    data: {
                        __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                        account: $("#account").val(),
                        password: CryptoJS.SHA512($("#password").val()).toString(),
                    },
                    async: true,
                    success: function (data) {
                        if (data == null || data == '') {
                            window.location.href = '@Url.Action("Index", "Home")';
                        } 
                    },
                    error: function (error) {
                        if (error != null && error.responseText != '') {
                            $('#msgModalbody').text(error.responseText).css({ 'color': 'red'});
                            $('#msgModal').modal('show');
                            $("#account").val('');
                            $("#password").val('');
                        } 
                    }
                });
            }
        });
    });
</script>

